.type {
  width: 30%;
  display: inline;
  text-align: center;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
}
.type-marketing {
  background: #03cea4;
}
.type-management {
  background: #5a87fc;
}
.type-recruting {
  background: #f89828;
}
.type-design {
  background: #f52f6e;
}
.type-development {
  background: #7772f1;
}
