.about {
  margin-top: 80px;
  margin-bottom: 265px;

  h4 {
    margin-top: 48px;
    margin-bottom: 24px;

    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }

  p {
    margin-bottom: 60px;

    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #424551;
  }

  .aboutButtons {
    display: flex;
    gap: 24px;
  }
}

.video {
  margin-bottom: 180px;

  .videoStats {
    display: flex;
    align-items: center;
    gap: 16px;

    h3 {
      font-size: 48px;
      font-weight: 900;
      line-height: 60px;
      color: #ff3f3a;
    }

    span {
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      color: #1e212c;
    }
  }
}

.values {
  margin-bottom: 180px;

  .valuesTitle {
    color: "#1e212c";
    margin-bottom: 60px;
  }

  .divider {
    width: 2px;
    height: 130px;

    background: linear-gradient(
      315deg,
      rgba(218, 219, 221, 0) 0%,
      rgba(218, 219, 221, 0.5) 12.33%,
      #dadbdd 51.91%,
      rgba(218, 219, 221, 0.5) 87.85%,
      rgba(218, 219, 221, 0) 100%
    );
  }
}

.directions {
  margin-bottom: 180px;

  .directionsRow {
    margin-bottom: 30px;

    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.process {
  margin-bottom: 180px;
}

.team {
  margin-bottom: 180px;
}

.companies {
  padding-top: 80px;
  padding-bottom: 60px;

  background: #f4f5f6;

  .companiesRow {
    gap: 60px;
    justify-content: center;
  }
}

@media (max-width: 1100px) {
  .about {
    margin-top: 40px;
    margin-bottom: 120px;
    .aboutRight {
      display: none;
    }
  }

  .video,
  .team,
  .directions,
  .values,
  .process {
    margin-bottom: 60px;
  }

  .video {
    .videoLeft,
    .videoRight {
      // width is set in style prop, so I use important
      width: 100% !important;

      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .videoLeft {
      margin-bottom: 2rem;

      img {
        width: 50%;
      }
    }
  }

  .values {
    .valuesRow {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .valuesTitle {
      margin-bottom: 30px;
    }

    .divider {
      display: none;
    }
  }

  .directions .directionsRow {
    grid-template-columns: repeat(1, 0.55fr);
    justify-content: center;
  }

  .process img {
    display: none;
  }

  .companies .companiesRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media (max-width: 800px) {
  .directions .directionsRow {
    grid-template-columns: repeat(1, 0.85fr);
    justify-content: center;
  }
}
