.list {
  margin-bottom: 180px;
  padding: 0;

  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.horizontal {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;

  > div {
    max-width: calc(50% - 30px);
  }
}

.vertical {
  > div {
    max-width: calc(33.333% - 30px);
  }
}

.linkToCourse {
  color: #000;
}
