@mixin baseButton {
  font-family: "Lato";
  border-radius: 4px;
  font-size: 1em;
  font-weight: 700;

  transition: 0.3s;
  transition: transform 0.2s;

  &:not(:disabled):hover {
    transform: scale(1.05);
  }
  &:not(:disabled):active {
    transform: scale(0.9);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.button-large {
    width: 179px;
    height: 52px;
    position: 20px 40px;
    font-size: 1em;
  }
  &.button-regular {
    width: 166px;
    height: 44px;
    position: 16px 32px;
    font-size: 0.875em;
  }
  &.button-small {
    width: 123px;
    height: 36px;
    position: 12px 24px;
    font-size: 0.75em;
  }

  &.full-width {
    width: 100%;
  }
}

.button {
  @include baseButton;
  color: #fff;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
}

.buttonOutline {
  @include baseButton;
  border: 1px solid #ff3f3a;
  color: #ff3f3a;
  position: relative;

  &::before {
    content: "";
    display: block;

    width: 0;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    transition: width 0.75s;
  }

  &:not(:disabled):hover {
    color: #fff;

    &::before {
      width: 100%;
      z-index: -1;
    }
  }
}
