@mixin baseButton {
  font-family: "Lato";
  border-radius: 4px;
  font-weight: 700;

  transition: 0.3s;
  transition: transform 0.2s;

  &:not(:disabled):active {
    transform: scale(0.9);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.button-xl {
    width: 207px;
    height: 52px;
  }
  &.button-large {
    width: 179px;
    height: 52px;
    font-size: 1em;
  }
  &.button-regular {
    width: 166px;
    height: 44px;
    font-size: 0.875em;
  }
  &.button-small {
    width: 123px;
    height: 36px;
    font-size: 0.75em;
  }

  &.full-width {
    width: 100%;
  }
}

.button-simple {
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    filter: brightness(0) saturate(100%) invert(58%) sepia(72%) saturate(7330%)
      brightness(110%) contrast(107%);
  }
  &:active {
    transform: scale(0.8);
  }
}

.button {
  @include baseButton;
  color: #fff;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);

  transition: color 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);

  a {
    transition: color 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    color: #fff;
  }

  &:not(:disabled):hover {
    background: none;

    border: 1px solid #ff3f3a;
    color: #ff3f3a;
  }
  &:not(:disabled):hover a {
    color: #ff3f3a;
  }
}

.buttonOutline {
  @include baseButton;
  background: none;
  border: 1px solid #ff3f3a;
  color: #ff3f3a;
  position: relative;

  transition: color 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);

  a {
    transition: color 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    color: #ff3f3a;
  }

  &::before {
    content: "";
    display: block;

    width: 0;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    transition: width 0.75s;
  }

  &:not(:disabled):hover,
  &:not(:disabled):hover a {
    color: #fff;
    transform: scale(1);

    &::before {
      width: 100%;
      z-index: -1;
    }
  }
  &:not(:disabled):active {
    transform: scale(0.8);
  }
}
