.toolbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolboxItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  label,
  span {
    white-space: nowrap;
  }

  label {
    color: #424551;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px; /* 25.6px */
  }

  span {
    color: #787a80;
    font-size: 14px;
    line-height: 21px;
  }
}

.inputNumber {
  max-width: 75px;
  padding: 0 15px !important;
}

.changeView > a:active {
  transition: 0.2s;
  scale: 0.85;
}

@media (max-width: 1000px) {
  .toolbox {
    flex-direction: column;
    gap: 1.5rem;

    .changeView {
      text-align: center;
    }
  }
}

@media (max-width: 785px) {
  .changeView {
    display: none;
  }
}

@media (max-width: 600px) {
  .toolbox {
    align-items: start;

    .toolboxItem,
    .toolboxItem > * {
      width: 100%;
    }
  }
}
