.header {
  background: #fedbd3;

  .headerBody {
    padding: 4em 0 120px;
    .headerLeft {
      h2 {
        margin: 24px 0 60px 0;

        font-size: clamp(2rem, 6vw, 64px);

        line-height: 1.25em;
        font-weight: 900;
      }

      > button {
        display: flex;
        align-items: center;

        font-weight: 700;
        font-size: 1em;

        &:hover {
          opacity: 1;
          color: gray;

          img {
            background: lightpink;
          }
        }

        img {
          padding: 15px;
          background: #fec8c1;
          border-radius: 50%;
          transition: background 0.3s;
        }
      }
    }
    .buttons {
      display: flex;
      gap: 1.5rem;
    }
  }

  .headerFooter {
    padding-bottom: 80px;
    .headerAchievements {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        display: flex;
        align-items: center;
        gap: 12px;

        span {
          font-size: 2.875em;
          font-weight: 900;
          color: black;
        }
        p {
          font-size: 1em;
          color: #1e212c;
        }
      }
      > span {
        width: 8px;
        height: 8px;
        background: red;
        border-radius: 50%;
      }
    }
  }
}
.whoWeAre {
  padding: 180px 0;

  .whoWeAreList {
    margin-top: 40px;
    margin-bottom: 48px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    li {
      width: 70%;
      margin-left: 1.5rem;
      padding-left: 16px;
      color: #424551;
      list-style: url("../../assets/icons/check.svg");
    }
  }
}

.courses {
  padding-bottom: 80px;
  .coursesHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
  }
}

.benefits {
  margin-top: 100px;
  margin-bottom: 140px;
}

.events {
  padding: 80px 0;
  background: #fedbd3;

  .eventsFooter {
    margin-top: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    h3 {
      font-size: 1.75em;
      font-weight: 700;
    }
  }
}

.team {
  padding-top: 170px;
  // padding-bottom: 180px;
  background: #f4f5f6;

  .teamTop {
    display: flex;
    justify-content: space-between;
  }
}

.latestPosts {
  margin-top: 120px;
  margin-bottom: 140px;

  .latestTop {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}
