.subscribe {
  padding: 120px 0 180px 0;
  background: #fedbd3;

  position: relative;

  .body {
    width: 80%;
    margin: 0 auto;
  }

  .footer {
    width: 60%;

    margin: 0 auto;
    margin-top: 60px;

    display: flex;
    gap: 24px;
  }

  .illustration {
    position: absolute;
    bottom: 0;

    &:first-child {
      left: 0;
    }
    &:last-child {
      right: 0;
    }
  }
}

@media (max-width: 1024px) {
  .illustration {
    display: none;
  }
}
