.tab {
  padding: 10px 20px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 4px;
  font-weight: 700;
  font-size: 1em;
  filter: brightness(0) saturate(100%) invert(66%) sepia(12%) saturate(175%)
    hue-rotate(192deg) brightness(93%) contrast(88%);

  cursor: pointer;

  &:hover {
    filter: brightness(0) saturate(100%) invert(54%) sepia(87%) saturate(4775%)
      hue-rotate(336deg) brightness(96%) contrast(115%);
  }
}

.active {
  border: 1px solid #ff3f3a;
  filter: brightness(0) saturate(100%) invert(54%) sepia(87%) saturate(4775%)
    hue-rotate(336deg) brightness(96%) contrast(115%);
}

.tabBadge {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 14px;
}

.mobile {
  display: none;
}

@media (max-width: 1000px) {
  .mobile {
    width: 100%;
    display: block;
  }
}
