.toolbox {
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs {
  display: flex;
  gap: 12px;
}

.toolboxRight {
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.toolboxItem {
  display: flex;
  align-items: center;
  gap: 12px;
}

.toolboxSelect {
  width: 100%;
}

@media (max-width: 1000px) {
  .tabs {
    // TODO: сделать табы для мобилок
    display: none;
  }

  .toolboxRight {
    width: 100%;

    .toolboxItem,
    .toolboxItem > *,
    > * {
      width: 50%;
    }
  }
}

@media (max-width: 600px) {
  .toolboxRight {
    flex-direction: column;

    .toolboxItem,
    .toolboxItem > *,
    > * {
      width: 100%;
    }
  }
}
