.steps {
  padding-left: 44px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  border-left: 1px solid rgba(154, 156, 165, 0.5);
}

.stepsVertical {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .stepsVertical {
    flex-direction: column;
  }
}
