.title {
  padding: 120px 0;

  h2 {
    color: "#FF3F3A";
  }

  h3 {
    color: "#1e212c";
    max-width: 75%;
    margin: 0 auto;
  }
}

.about {
  padding: 120px 0;

  .aboutRow {
    gap: 135px;
    align-items: flex-start;
  }

  .aboutInfo {
    gap: 32px;
  }

  .aboutLeft {
    h2 {
      margin-bottom: 40px;

      color: #1e212c;
      font-size: 46px;
      font-weight: 900;
    }

    h3 {
      margin-top: 48px;
      margin-bottom: 25px;

      color: #1e212c;
      font-size: 28px;
      font-weight: 700;
    }

    p {
      color: #424551;
      line-height: 22px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;

      li {
        margin-left: 1.5rem;
        padding-left: 16px;
        color: #424551;
        list-style: url("@assets/icons/check.svg");
      }
    }
  }
}

.curator {
  padding-bottom: 180px;

  .curatorRow {
    gap: 135px;
  }
}

.steps {
  margin-top: 60px;
  margin-bottom: 180px;
}

.cta {
  margin-bottom: 180px;
  padding: 48px 60px;

  background: linear-gradient(
    45deg,
    rgba(255, 63, 58, 0.2) 0%,
    rgba(247, 94, 5, 0.2) 100%
  );

  .top {
    margin-bottom: 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 32px;
      font-weight: 900;
      line-height: 41px;
      color: #1e212c;
    }

    .timer {
      display: flex;
      gap: 24px;

      .days,
      .hours,
      .mins,
      .sec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      p {
        font-size: 20px;
        font-weight: 700;
      }
      span {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  .body {
    display: flex;
    align-items: end;
    justify-content: space-between;

    input {
      min-width: 25%;
    }
  }
}

.forWhom {
  margin-bottom: 180px;

  .forWhomRow {
    gap: 135px;
    align-items: flex-start;
  }

  .whomList {
    display: flex;
    flex-direction: column;
    gap: 20px;

    li {
      margin-left: 1.5rem;
      padding-left: 16px;

      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      color: #424551;
      list-style: url("@assets/icons/check.svg");
    }
  }
}

.program {
  margin-bottom: 180px;

  .programList {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.register {
  padding-top: 180px;
  padding-bottom: 100px;

  background-color: #f4f5f6;

  .registerRight {
    width: 45%;
  }

  .registerForm {
    width: 100%;
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .formBlock {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media (max-width: 1200px) {
  .title,
  .about,
  .register {
    padding: 50px 0;
    padding-bottom: 70px;
  }

  .curator {
    padding-bottom: 90px;
  }

  .steps,
  .cta,
  .forWhom,
  .program {
    margin-bottom: 90px;
  }
}

@media (max-width: 1000px) {
  .about .aboutRow,
  .curator .curatorRow,
  .forWhom .forWhomRow {
    gap: 2rem;
  }

  .program .programRight,
  .register .registerLeft {
    display: none;
  }

  .cta {
    padding: 35px 20px;

    .top {
      text-align: center;
      flex-direction: column;
      gap: 1rem;
    }

    .body {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      > * {
        width: 50%;
      }

      button {
        margin-top: 1rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .title {
    h3 {
      max-width: 100%;
    }
  }

  .cta {
    .body {
      > * {
        width: 85%;
      }
    }
  }

  .registerForm {
    width: 100%;
  }
}
