.curatorInfo {
  span {
    font-size: 20px;
    font-weight: 400;
    color: #424551;
  }

  p {
    margin-top: 32px;
    margin-bottom: 40px;

    font-size: 16px;
    font-weight: 400;
    color: #424551;
  }

  .stats {
    margin-top: 32px;

    li {
      margin-left: 1.5rem;
      padding-left: 8px;

      font-size: 16px;
      font-weight: 700;
      line-height: 25px;
    }

    li:nth-child(1) {
      list-style-image: url("../../assets/icons/curator3.svg");
    }
    li:nth-child(2) {
      list-style-image: url("../../assets/icons/curator.svg");
    }
    li:nth-child(3) {
      list-style-image: url("../../assets/icons/curator2.svg");
    }
  }

  .social {
    display: flex;
    gap: 24px;
  }
}
