.notFound {
  padding: 180px;
  text-align: center;

  background: #c10410;
  color: #fff;

  h1 {
    font-weight: 900;
    font-size: 64px;
  }
  p {
    font-weight: 700;
    margin-top: 16px;
    font-size: 32px;
  }
}
